[submodule "cueplot"]
	path = cueplot
	url = ssh://aur4.archlinux.org/cueplot.git
[submodule "hdf5-fortran-openmpi"]
	path = hdf5-fortran-openmpi
	url = ssh://aur4.archlinux.org/hdf5-fortran-openmpi.git
[submodule "iraf"]
	path = iraf
	url = ssh://aur4.archlinux.org/iraf.git
[submodule "iraf-bin"]
	path = iraf-bin
	url = ssh://aur4.archlinux.org/iraf-bin.git
