[submodule "cueplot"]
	path = cueplot
	url = ssh://aur4.archlinux.org/cueplot.git
[submodule "hdf5-fortran-openmpi"]
	path = hdf5-fortran-openmpi
	url = ssh://aur4.archlinux.org/hdf5-fortran-openmpi.git
[submodule "iraf"]
	path = iraf
	url = ssh://aur4.archlinux.org/iraf.git
[submodule "iraf-bin"]
	path = iraf-bin
	url = ssh://aur4.archlinux.org/iraf-bin.git
[submodule "num-utils"]
	path = num-utils
	url = ssh://aur4.archlinux.org/num-utils.git
[submodule "python2-pyfits"]
	path = python2-pyfits
	url = ssh://aur4.archlinux.org/python2-pyfits.git
[submodule "python2-stscitools"]
	path = python2-stscitools
	url = ssh://aur4.archlinux.org/python2-stscitools.git
[submodule "python-astropy-helpers"]
	path = python-astropy-helpers
	url = ssh://aur4.archlinux.org/python-astropy-helpers.git
[submodule "python-django-bootstrap3"]
	path = python-django-bootstrap3
	url = ssh://aur4.archlinux.org/python-django-bootstrap3.git
[submodule "python-django-guardian"]
	path = python-django-guardian
	url = ssh://aur4.archlinux.org/python-django-guardian.git
[submodule "python-django-markdown-deux"]
	path = python-django-markdown-deux
	url = ssh://aur4.archlinux.org/python-django-markdown-deux.git
